body, html {
  min-height: 100vh;
  margin: 0;
}

.pregunta-contenedor, .fin-juego-contenedor {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: rgba(39, 174, 96, 1);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  max-height: 80vh; /* Limitar altura para evitar desbordes */
  max-width: 80vw; /* Reducir ancho */
  margin: 50px auto;
  overflow-y: auto; /* Permitir scroll interno si el contenido es demasiado grande */
}

h2 {
  font-size: 30px; /* Un poco más pequeño */
  font: bold;
  margin-bottom: 10px;
}

p {
  margin-top: 15px;
  font-size: 22px;
  font-weight: bold;
  color: #2c3e50;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.imagen-pregunta {
  max-width: 80%; /* Limitar el tamaño de la imagen */
  height: auto;
  border-radius: 5px;
  margin-bottom: 15px;
  border: 2px solid black;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

ul li {
  margin-bottom: 10px;
}

button {
  font-size: 20px; /* Texto más pequeño */
  font-weight: bold;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding: 8px 12px; /* Reducir el padding */
  margin: 5px 0;
  width: 90%; /* Hacer que el botón ocupe casi todo el ancho disponible */
  max-width: 250px; /* Limitar el ancho máximo */
  background-color: rgb(7, 124, 56);
  border:none;
  border-radius: 10px;

}

button:hover {
  background-color: rgba(19, 99, 52, 0.555);
  transform: translateY(-2px);
}


.fin-juego-contenedor p {
  font-size: 18px;
  color: #333;
  margin: 10px 0;
}

@media (max-width: 768px) {
  .pregunta-contenedor {
    padding: 15px;
  }

  button {
    font-size: 12px; /* Botones más pequeños en pantallas pequeñas */
    padding: 5px 10px;
  }

  h2 {
    font-size: 16px; /* Títulos más pequeños */
  }

  p {
    font-size: 14px; /* Texto más pequeño */
  }

  .imagen-pregunta {
    max-width: 70%; /* Reducir el tamaño de la imagen en pantallas pequeñas */
  }
}
