<div *ngIf="juegoIniciado" class="pregunta-contenedor">
  <h2>{{ preguntaActual?.pregunta }}</h2>

  <div *ngIf="imagenActual">
    <img [src]="imagenActual" alt="Imagen relacionada" class="imagen-pregunta">
  </div>

  <ul>
    <li *ngFor="let opcion of opciones">
      <button (click)="seleccionarRespuesta(opcion)">{{ opcion }}</button>
    </li>
  </ul>

  <p>Puntaje: {{ puntaje }}</p>
</div>

<div *ngIf="!juegoIniciado" class="fin-juego-contenedor">
  <p>¡El juego ha terminado!</p>
  <p>Puntaje final: {{ puntaje }}</p>
</div>
