<div class="container mt-5 p-5 bg-light rounded-5 shadow-lg" style="background-size: cover; background-position: center;">
  <div class="row align-items-center bg-card rounded-5 shadow p-4">
    <div class="col-md-4 text-center">
      <img src="quiensoy.jpeg" alt="Juan Pablo" class="img-fluid rounded-circle shadow" style="max-width: 320px;">
    </div>
    <div class="col-md-8">
      <h1 class="mb-4 text-dark display-4">Me llamo Juan Pablo De Maio</h1>
      <p class="lead text-dark">
        <strong>Edad:</strong> 19 años<br>
        <strong>Estudios:</strong> Actualmente estudio en la UTN, cursando la carrera de Técnico en Programación.<br>
        
        <strong>Juego con Cartas</strong><br>
        Descripción: el juego arranca con las cartas dadas vuelta, cuando arranca se va a dar vuelta una de estas por medio segundo y vuelve a darse vuelta, 
        el jugador va a marcar cual se dio vuelta, si lo hizo bien pasa a la siguiente ronda, en la siguiente ronda se va a dar vuelta la misma carta pero agregandole otra carta.
        el usuario va a tener que hacer lo mismo y asi sucesivamente
      </p>
    </div>
  </div>
</div>
