h1{
    text-align: center;
    margin-bottom: 80px;
    font-size: 3.5em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h4{
    text-align: center;
    margin-bottom: 80px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
p
{
    text-align: center;
    font-size: 1.5em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    margin: 40px 0px;
}
.seccion-juegos {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); 
    gap: 100px;
    padding: 20px;
    align-items: center; 
}

.seccion-juegos img {
    width: 100%;
    height: auto;
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); 
    transition: transform 0.3s ease; 
}

.seccion-juegos img:hover {
    transform: scale(1.05); 
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1); 
}

a
{
    background-color: burlywood; 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    padding: 10px 20px; 
    margin-left: 110px; 
    text-decoration: none;
    border-radius: 15px; 
    font-size: 1.2em; 
    transition: background-color 0.3s, transform 0.3s;
}
a:hover {
    background-color: rgb(230, 171, 94); 
    transform: scale(1.05); 
}

a:focus {
    outline: none; 
    box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.5); 
}
.chat-container {
    position: fixed; /* Fija el contenedor en la pantalla */
    right: 20px; /* Alineado a la derecha */
    bottom: 20px; /* Alineado en la parte inferior */
    max-width: 300px; /* Ancho máximo */
    max-height: 400px; /* Altura máxima */
    width: 250px; /* Ancho definido */
    height: auto;
    border-radius: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000; /* Para que quede por encima de otros elementos */
}

.chat-icon {
    cursor: pointer;
    width: 50px; /* Tamaño pequeño del icono */
    height: 50px;
    position: absolute;
    right: 10px;
    bottom: 10px;
}

app-chat {
    max-width: 100%;
    max-height: 100%;
    overflow: auto;
}

.chat-box {
    max-height: 250px; /* Limitar altura para mantener el tamaño pequeño */
    overflow-y: auto;
    margin-bottom: 10px;
}

.input-container {
    display: flex;
    justify-content: space-between;
    padding: 5px;
}
