<div class="chat-container" *ngIf="isChatVisible">
  <button class="close-btn" (click)="toggleChat()">x</button> <!-- Botón para cerrar el chat -->
  
  <div class="messages chat-box">
    <div *ngFor="let message of messages" class="message">
      <strong>{{ message.user }}</strong>: {{ message.text }}
      <span class="timestamp">{{ message.timestamp?.toDate() | date:'shortTime' }}</span>
    </div>
  </div>
  

  <div class="input-container">
    <input [(ngModel)]="newMessage" (keydown)="handleKeydown($event)" placeholder="Escribe un mensaje..." />
    <button (click)="sendMessage()">Enviar</button>
  </div>
</div>
