body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('https://img.freepik.com/vector-gratis/diseno-fondo-videojuegos_23-2150286097.jpg?w=1380&t=st=1725962007~exp=1725962607~hmac=39edc472c00696eef7d073ebf726da47f56c2d9bcc5a8ce13e6dd40d52aea507');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(4px); 
    z-index: -1; 
}
